{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block head %}

{% endblock %}
{% load static %}
{% block body %}
<!-- custom select style -->

<!-- end -->
<style>
body {
  /* background-color: #f8f3f3; */
}
.button-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.button {
    display: inline-block;
    padding: 8px 11px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: #ccc;
    color: #fff;
    border-radius: 19px;
    margin-right: 9px;
}

.btn-active img{
    border-radius: 30%;
    width: 70%;
}
    .scrollable-btns::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  
}

.scrollable-btns::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

.scrollable-btns::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(60, 1, 22, 0.5);
  border-radius: 100px;
  background-color: black;
}
.btn-active{
    background-color: violet;
    text-align: center;
    color: white;
}

#check-type-select option{
  display: inline-block;
}
.button-range-slider{
  display: none;
}
.lp-listing .row img{
  max-width: 40%;
  width: auto;
  height: auto;
}
@media screen and (max-width: 700px) {
  .lp-listing .row img{
    max-width: 33%;
  }
}
</style>


<div class="modal" id="cities-modal" tabindex="-1" style="top:7vh;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select City</h5>
        <button type="button" onclick="closeCitiesModal();" class="btn-close" data-bs-dismiss="cities-modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You are now searching in <b><span class="dyn-city">Lucknow</span></b></p>
        <div class="container-fluid">search
          <div class="mb-3">
            <input name="search" type="text" onfocus="initializeAutocompleteModal();" class="form-control modal-city-search" data-con="" id="modal-search" placeholder="Search City" aria-describedby="emailHelp">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" onclick="closeCitiesModal();" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <div class="modal-body">
      <p>You are now searching in <b><span class="dyn-city">Lucknow</span></b></p>
      <div class="container-fluid">
        <div class="mb-3 row">
          <input name="search" type="text" onfocus="lpinitializeAutocomplete();" class="form-control modal-city-search lp-dyn-place" data-con="" id="search" placeholder="Search City" aria-describedby="emailHelp" style="width: 80%;">
          <button class="btn col-2" style="border: 1px solid rgba(0, 0, 0, 0.5);" onclick="LPclearSearchCity();"><i class="bi bi-x-circle col-2"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .toggled-filter-btn{
    background-color: black;
    color: white;
  }
</style>

<div class="container button-container scrollable-btns" id="all_btn">
    
    <button id="what-selector" class="btn button" style="background-color: inherit;">
      <div class="row">
        <select onchange="whatUpdate();" class="form-select form-select-md" name="check-what-select" id="check-what-select" aria-label=".form-select-sm example">
          <option id="whatLabel" selected style="display: none;"></option>
          <option value="appartments">Appartments</option>
          <option value="houses">Houses</option>
          <option value="plots">Plots</option>
        </select>
      </div>
    </button>

    <button id="apartment-selector" class="btn button" style="background-color: inherit;">
      <div class="row">
        <select onchange="updateFilters();" class="form-select form-select-md" name="check-type-select" id="check-type-select" aria-label=".form-select-sm example">
          <option selected>Select BHK</option>
          <option value="1rk">1 Rk</option>
          <option value="1bhk">1 BHK</option>
          <option value="2bhk">2 BHK</option>
          <option value="3bhk">3 BHK</option>
          <option value="3+bhk">3+ BHK</option>
        </select>
      </div>
    </button>
    <div style="display: inline-block; background-color: inherit;position: inherit;" id="bhk-selected-option"></div>
    <div class="dropdown" style="display: inline-block; background-color: inherit;position: inherit;">
      <a id="price-dropdown" class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Any Price
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="price-dropdown">
        <li>
          <div class="container-fluid">
            <input type="range" onchange="filterUpdate(this);" value="2500000" id="budgetSlider" min="100000" max="50000000" step="1" style="width: 50vw;">
            <p id="budgetLabel">25L</p>
          </div>
        </li>
      </ul>

      <a id="area-dropdown" class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Area
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="area-dropdown">
        <li>
          <div class="container-fluid">
            <input onchange="filterUpdate(this);" type="range" value="1000" id="builtUpSlider" min="500" max="5000" step="1">
            <p id="builtUpLabel">1.0k</p>
          </div>
        </li>
      </ul>
      <!-- <button class="btn" style="border: 1px solid;">More Filters <i class="bi bi-filter"></i></button>
      <button class="button filter-btn" onclick="toggleFilter(this);">Owner</button>
      <button class="button filter-btn" onclick="toggleFilter(this);">Verified</button>
      <button class="button filter-btn" onclick="toggleFilter(this);">With Images</button> -->
    </div>
</div>

<script>
  function toggleFilter(e){
    e.classList.toggle('toggled-filter-btn')
  }
  function whatUpdate(){
    what = document.getElementById('check-what-select').value;
    filters = JSON.parse(localStorage.getItem('filter'));
    filters.what = what;
    localStorage.setItem('filter', JSON.stringify(filters));
    filterSubmitForm(JSON.stringify(filters));
  }
  function filterUpdate(e){
    console.log('changing');
    filters = JSON.parse(localStorage.getItem('filter'));
    if (e.id == 'budgetSlider'){
      price = document.getElementById('budgetSlider').value;
      filters.price = price;
      localStorage.setItem('filter', JSON.stringify(filters));
      filterSubmitForm(JSON.stringify(filters));
    }
    else{
      area = document.getElementById('builtUpSlider').value;
      filters.area = area;
      localStorage.setItem('filter', JSON.stringify(filters));
      filterSubmitForm(JSON.stringify(filters));
    }
  }
  function updateFilters(){
    selected_value = document.getElementById('check-type-select').value;
    filters = JSON.parse(localStorage.getItem('filter'));
    bhk = filters.bhk;
    if (bhk.includes(selected_value)){
      return false
    }
    else{
      console.log('bhkkkk', selected_value);
      bhk.push(selected_value);
      filters.bhk = bhk;
      console.log(bhk, filters);
      localStorage.setItem('filter', JSON.stringify(filters));
      filterSubmitForm(JSON.stringify(filters));
    }
  }
  function deletebhkoption(e){
    console.log('inside');
    filters = JSON.parse(localStorage.getItem('filter'));
    option_del = e.getAttribute('data-my');
    bhk = filters.bhk;
    if (bhk.includes(option_del)){
      sbhk = '';
      indexofdelitem = bhk.indexOf(option_del)
      bhk.splice(indexofdelitem, 1);
      filters.bhk = bhk;
      console.log(bhk, filters.bhk)
      localStorage.setItem('filter', JSON.stringify(filters));
      filterSubmitForm(JSON.stringify(filters));
    }
    else{
      console.log('not inside');
    }
  }
  $(document).ready(function () {
    filters = JSON.parse(localStorage.getItem('filter'));
    bhk = ''
    fbhk = filters.bhk;
    for(i=0; i<fbhk.length; i++){
        console.log(fbhk, fbhk[i], fbhk.i);
        bhk += `<button type="button" class="btn btn-primary position-relative">${fbhk[i]}\
        <span onclick="deletebhkoption(this);" data-my="${fbhk[i]}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">X\
        </span></button>`;
    }
    document.getElementById('bhk-selected-option').innerHTML += bhk;
    document.getElementById('budgetSlider').setAttribute('value', filters.price);
    document.getElementById('builtUpSlider').setAttribute('value', filters.area);
    if (filters.what == 'plots' || filters.what == 'houses'){
      $('#apartment-selector').hide();
      $('#bhk-selected-option').hide();
    }
    else{
      $('#area-dropdown').hide();
    }
    document.getElementById('whatLabel').innerText = filters.what;
    document.getElementById('search').setAttribute('value', JSON.parse(localStorage.getItem('place')));
    innerWidth = window.innerWidth;
    if (innerWidth > 800){
      lp = document.getElementById('lp-listing');
      lp.classList.add('col-8');
      lp.style.cssText = 'margin-left:0;'
    }
  })
  
</script>

<!-- more filters -->

<!-- end of more filters -->
<style>
  .lp-listing p{
    padding: 0;
    margin: 0;
  }
  .lp-listing{
    padding: 5px 8px;
  }
  .items{
    background-color: white;
    border-radius: 5%;
  }
  hr{
    color: black;
  }
  .lp-listing .row img{
  max-width: 20%;
  width: auto;
  height: auto;
}
.lp-listing p{
  font-size: 12px;
}
.items{
  padding: 16px;
  background-color: #ebebeb;
}
.row .mt-1{
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .lp-listing .row img{
    max-width: 40%;
  }
}
</style>

<div class="container-fluid url-location">
  <p style="color: #b2a3a3; font-size: 13px;margin-bottom: 0;">{{location}}.</p>
  <br>
  <p style="color: #b2a3a3; font-size: 13px;">Last Updated on 16 June.</p>
  <h6>{{total_props}} {{type}} for Rent in {{place}}</h6>
</div>

<div class="container-fluid lp-listing" id="lp-listing">
  {% for i, j in data %}
  <div class="items" data-my="/property_view/{{i.id}}" onclick="hrefPropView(this);">
    <div class="row">
      <img style="height: auto; padding: 0;" class="col-5" src="/media/{{j.image1}}" alt="listing" />
      <div class="body col-7" style="padding-right: 0;">
        <a style="font-size: 14px; text-decoration: none;" href="/property_view/{{i.id}}" class="price">&#8377; {{i.price}}</a>
        <h5 style="line-height: 1;font-size: 12px;" class="title mt-1">{{i.property_title}}</h5>
        <p style="font-size: 12px;color: #6e6c6c;" class="location mt-2">{{i.place}}</p>
        <span class="detail mt-1 row" style="justify-content: space-around;width: 100%;">
          <p style="font-size: 11px;" class="area col-4">{{i.area}}sqrft</p>
          <p style="font-size: 10px;" class="furnishing col-5">{{i.furnishing}}</p>
        </span>
      </div>
    </div>
    <!-- <div class="desc mt-1">
      <p style="font-size: 12px;color: #6e6c6c;">asdas dasdsad sa dsa da.</p>
    </div> -->
    <div class="row mt-1" style="justify-content: center;">
      <p style="" class="col-12">{{i.desc}}</p>
      <!-- <img style="height: 70%;padding: 0;" class="col-3" src="{% static 'images/bg-2.jpg' %}" alt="">
      <div class="lord-details col-4" style="padding-right: 0;">
        <h6 style="font-size: 11px;" class="name">Abhishek Singh</h6>
        <p style="font-size: 10px;color: #6e6c6c;" class="role">Owner</p>
        <p style="font-size: 10px;color: #6e6c6c;" class="update">Update 5 days ago</p>
      </div> -->
      <div class="chat col-3" style="padding: 0;">
        <div class="row" style="">
          <a type="button" href="https://wa.me/+918887896739" style="font-size: 15px;margin-right: 2px;" class="btn col-5">Chat</a>
          <i style="font-size: 12px;align-items: center;display: flex;" class="bi bi-whatsapp col-6"></i>
        </div>
      </div>
      <div class="chat col-3">
          <div class="row" style="display: inline-block;">
            <a type="button" style="font-size: 13px;" href="tel:+918887896739" class="btn col-12 btn-success">Contact</a>
          </div>
      </div>
    </div>
  </div>
  <!-- <br> -->
  <hr>
  <!-- <br> -->
  {% endfor %}
  <script>
    function hrefPropView(e){
      location = $(e).attr('data-my');
      console.log(location);
    }
  </script>

  <!-- <div class="items">
    <div class="row">
      <img style="height: 15vh; padding: 0;" class="col-5" src="{% static 'images/bg-2.jpg' %}" alt="listing" />
      <div class="body col-7" style="padding-right: 0;">
        <p class="price">Rs. 100000</p>
        <p style="line-height: 1;font-size: 12px;" class="title mt-1">afnksafas asd sa dsa da sd sadas.</p>
        <p style="font-size: 12px;color: #6e6c6c;" class="location mt-2">Gomti Nagar, Lucknow</p>
        <span class="detail mt-1 row" style="justify-content: space-around;width: 100%;">
          <p style="font-size: 11px;" class="area col-4">1000 sqrt</p>
          <p style="font-size: 10px;" class="furnishing col-5">Semi-furnished</p>
        </span>
      </div>
    </div>
    <div class="desc mt-1">
      <p style="font-size: 12px;color: #6e6c6c;">asdas dasdsad sa dsa da.</p>
    </div>
    <div class="row mt-1">
      <img style="height: 70%;padding: 0;" class="col-3" src="{% static 'images/bg-2.jpg' %}" alt="">
      <div class="lord-details col-4" style="padding-right: 0;">
        <h6 style="font-size: 11px;" class="name">Abhishek Singh</h6>
        <p style="font-size: 10px;color: #6e6c6c;" class="role">Owner</p>
        <p style="font-size: 10px;color: #6e6c6c;" class="update">Update 5 days ago</p>
      </div>
      <div class="chat col-2" style="padding: 0;">
        <div class="row" style="">
          <a type="button" href="https://wa.me/+918887896739" style="font-size: 15px;margin-right: 2px;" class="btn col-5">Chat</a>
          <i style="font-size: 12px;align-items: center;display: flex;" class="bi bi-whatsapp col-6"></i>
        </div>
      </div>
      <div class="chat col-3">
          <div class="row" style="display: inline-block;">
            <a type="button" href="tel:+918887896739" style="font-size: 13px;" class="btn col-12 btn-success">Contact</a>
          </div>
      </div>
    </div>
</div>

<br>
<hr>
<br>

<div class="items">
  <div class="row">
    <img style="height: 15vh; padding: 0;" class="col-5" src="{% static 'images/bg-2.jpg' %}" alt="listing" />
    <div class="body col-7" style="padding-right: 0;">
      <p class="price">Rs. 100000</p>
      <p style="line-height: 1;font-size: 12px;" class="title mt-1">afnksafas asd sa dsa da sd sadas.</p>
      <p style="font-size: 12px;color: #6e6c6c;" class="location mt-2">Gomti Nagar, Lucknow</p>
      <span class="detail mt-1 row" style="justify-content: space-around;width: 100%;">
        <p style="font-size: 11px;" class="area col-4">1000 sqrt</p>
        <p style="font-size: 10px;" class="furnishing col-5">Semi-furnished</p>
      </span>
    </div>
  </div>
  <div class="desc mt-1">
    <p style="font-size: 12px;color: #6e6c6c;">asdas dasdsad sa dsa da.</p>
  </div>
  <div class="row mt-1">
    <img style="height: 70%;padding: 0;" class="col-3" src="{% static 'images/bg-2.jpg' %}" alt="">
    <div class="lord-details col-4" style="padding-right: 0;">
      <h6 style="font-size: 11px;" class="name">Abhishek Singh</h6>
      <p style="font-size: 10px;color: #6e6c6c;" class="role">Owner</p>
      <p style="font-size: 10px;color: #6e6c6c;" class="update">Update 5 days ago</p>
    </div>
    <div class="chat col-2" style="padding: 0;">
      <div class="row" style="">
        <button style="font-size: 15px;margin-right: 2px;" class="btn col-5">Chat</button>
        <i style="font-size: 12px;align-items: center;display: flex;" class="bi bi-whatsapp col-6"></i>
      </div>
    </div>
    <div class="chat col-3">
        <div class="row" style="display: inline-block;">
          <button style="font-size: 13px;" class="btn col-12 btn-success">Contact</button>
        </div>
    </div>
  </div>
</div> -->
</div>

<script src="{% static 'js/main.js' %}"></script>
<script>
  function LPclearSearchCity(){
    // document.getElementsByClassName('lp-dyn-city')[0].value = '';
    document.getElementsByClassName('lp-dyn-place')[0].value = '';
  }
  var budgetSlider = document.getElementById("budgetSlider");
  var budgetLabel = document.getElementById("budgetLabel");

  budgetSlider.addEventListener("input", function() {
    var budget = budgetSlider.value;
    console.log(budget.length)
    if (budget == 100000){
      budgetLabel.textContent = "₹ " + 1 + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else if (budget.length == 7){
      budget = budget.slice(0, 2);
      budgetLabel.textContent = "₹ " + budget + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else if (budget.length == 6){
      budget = budget.slice(0, 1);
      budgetLabel.textContent = "₹ " + budget + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else{
      main_budget = budget.slice(0, 1);
      deci_budget = budget.slice(1, 2)
      budgetLabel.textContent = "₹ " + main_budget + '.' + deci_budget + 'Cr';
      document.getElementById('price-dropdown').innerText = "₹ " + main_budget + '.' + deci_budget + 'Cr';
    }
  });

  var builtUpSlider = document.getElementById("builtUpSlider");
  var builtUpLabel = document.getElementById("builtUpLabel");

  builtUpSlider.addEventListener("input", function() {
    var budget = builtUpSlider.value;
    if (budget < 1000){
      builtUpLabel.textContent = budget; 
      document.getElementById('area-dropdown').innerText = budget;
    }
    else {
      mb = budget.slice(0, 1);
      db = budget.slice(1, 2)
      builtUpLabel.textContent = mb + '.' + db + 'k'; 
      document.getElementById('area-dropdown').innerText = mb + '.' + db + 'k'; ;
    }
  });

  $(document).ready(function () {
    var budget = budgetSlider.value;
    console.log(budget.length)
    if (budget == 100000){
      budgetLabel.textContent = "₹ " + 1 + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else if (budget.length == 7){
      budget = budget.slice(0, 2);
      budgetLabel.textContent = "₹ " + budget + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else if (budget.length == 6){
      budget = budget.slice(0, 1);
      budgetLabel.textContent = "₹ " + budget + 'L';
      document.getElementById('price-dropdown').innerText = "₹ " + budget + 'L';
    }
    else{
      main_budget = budget.slice(0, 1);
      deci_budget = budget.slice(1, 2)
      budgetLabel.textContent = "₹ " + main_budget + '.' + deci_budget + 'Cr';
      document.getElementById('price-dropdown').innerText = "₹ " + main_budget + '.' + deci_budget + 'Cr';

    }
    var budget = builtUpSlider.value;
    if (budget < 1000){
      builtUpLabel.textContent = budget;
      document.getElementById('area-dropdown').innerText = budget;
    }
    else {
      mb = budget.slice(0, 1);
      db = budget.slice(1, 2)
      builtUpLabel.textContent = mb + '.' + db + 'k'; 
      document.getElementById('area-dropdown').innerText = mb + '.' + db + 'k';
    }
  })
</script>
{% endblock %}